.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; /* เพิ่มระยะห่างด้านล่าง */
    
}
.cart-summary p {
    font-size: 14px;
    color: #ddd;
}

.cart-summary h3 {
    font-size: 16px;
    color: white;
}
.summary{
    margin-top: 7%;
}

.cart-container {
    display: flex;
    justify-content: center; /* Center items in the container */
    padding: 20px;
    background-color: #2e2b2b;
    color: white;
    border-radius: 8px;
    margin: 20px;
}
.cart-items {
    flex: 1;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 16px;
    max-height: 400px;
    overflow-y: auto; 
    overflow-x: hidden; 
}

.product-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    background-color: #272727;
    border-radius: 8px;
    margin-bottom: 8px;
    border: none;
    position: relative; 
    width: 100%; 
    box-sizing: border-box; 
}

.product-image {
    width: 150px !important; 
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    object-fit: cover;
}

.product-details {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    flex-grow: 1;
    
}

.payment-details {
    width: 30%; /* สามารถปรับให้เหมาะสมกับขนาดหน้าจอ */
    max-width: 400px; /* จำกัดความกว้างสูงสุดเพื่อไม่ให้เกินไป */
    border: 1px solid #0c0c0c; 
    background-color: #1e1e1e; 
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, border-color 0.3s ease; 
    margin: 20px auto; /* Center the element horizontally */
}
.payment-details:hover {
    border-color: #d94224; /* เปลี่ยนสี border เมื่อเลื่อนเมาส์ไปที่องค์ประกอบ */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* เพิ่มเงาเมื่อเลื่อนเมาส์ */
}

@media (max-width: 768px) {
    .payment-details {
        width: 100%; 
        margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
    }
}

.payment-details button {
    width: 100%;
    padding: 10px;
    margin-top: 16px;
    background-color: #fb4b29;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-details button:hover {
    background-color: #d94224;
}



.remove-btn {
    background-color: #d94224;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px;
    right: 20px; 
}

.remove-btn:hover {
    background-color: #c0392b; /* Darker shade on hover */
}

@media (max-width: 768px) {
    .cart-container {
        flex-direction: column;
        align-items: center;
    }

    .cart-items,
    .payment-details {
        width: 100%;
        margin-bottom: 20px;
    }
}
