.collections{
    position: relative;
    background: rgb(105, 100, 100);
    background: radial-gradient(circle, rgb(97, 92, 92) 41%, rgba(0,57,255,0.27512254901960786) 100%);
   
}
.coll{
    padding: 8%;
}
.nav{
    display: flex;
}
.fot{
    background: black;
}
