.collections{
    position: relative;
    background: rgb(238,129,113);
background: linear-gradient(13deg, rgba(238,129,113,1) 0%, rgba(251,207,156,1) 100%);
   
}
.coll{
    padding: 8%;
}
.nav{
    display: flex;
}
.fot{
    background: black;
}
