.hero {
    position: relative;
}

.banner-img {
    position:relative;
    width: 100%;
    height: auto;
    max-height: 100vh;
    
    
}

.hero-caption {
    position: absolute; 
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}

.caption-img { 
    margin-left: -10px !important;
    width: 30%;
    max-width: 420px;
    margin-bottom: -9px !important;
}

.add-to-cart-btn {
    width: 100%;
    height: 45px;
    background-color: #FB4B29 !important;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;
}

.add-to-cart-btn:hover {
    background-color: #FB4B29 !important;
}

.hero-caption p {
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.hero-btns {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.hero-btns .btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background:  #FB4B29;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    color: white;
}

.hero-btns .btn img {
    position: relative;
    top: -5px;
    width: 20px;
}

.hero-btns .btn.dark-btn {
    background: #6d6d6eb3;
    color: #fff;
}

.hero-btns .btn:hover {
    background: #6e0303;
}

.hero-btns .btn.dark-btn:hover {
    background: #03030366 !important;
}

.more-cards {
    padding-left: 1%;
    /* margin-top: 27%; */
    margin-left: -20px;
    position: relative;
}

.product-container {
    display: flex;
    position: relative;
    overflow-x: auto;
    padding: 20px 0;
    overflow-x: hidden;
}

.product-item2 { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color:#2F2E41 !important;
    border-radius: 8px;
    border: none;
    width: calc(100% - 10px);
    box-sizing: border-box;
    margin-left: 5%; 
    margin-bottom: 15px;
    height: 100%; /* Ensure full height */
}

.product-image {
    width: 100px !important;
    height: auto !important;
    border-radius: 8px;
    border: none !important;
}

.product-info-container {
    margin-left: 1px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 16px !important;
    font-weight: bold;
    margin: 0;
}

.product-price {
    font-size: 14px;
    margin: 5px 0;
}

.product-stock {
    font-size: 14px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1; /* Allow this to grow and push the button down */
}

.hero-caption img {
    margin-top: 10%;
    width: 40%;
    margin-left: 4%;
}
.more-cards h2{
    display: inline;
    margin-left: 70px;
}

@media (max-width: 1024px) {
    .hero-caption .title-cards {
        display: none;
    }
}

@media (max-width: 800px) {
    .hero-caption, .more-cards {
        padding-left: 4%;
    }
    .caption-img {
        width: 40%;
        margin-bottom: 10px;
    }
    .hero-caption p {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .caption-img {
        display: none;
    }
    .hero-caption .btn {
        padding: 4px 10px;
        font-size: 10px;
        gap: 5px;
    }
    .hero-caption .btn img {
        width: 15px;
    }
}
.btn a {
    text-decoration: none;
    color: #fff;
    display: flex;
    white-space: nowrap;
    
}


.home{
 background-color: #2d2d2b;






}